
.nav-link {
    &.active {
        font-weight: bold;
    }
}

host {
  display: block;
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 250px;
  background-color: black;
  border-right: 1px solid #dee2e6;
  transform: translateX(-100%);
  transition: transform 0.3s ease-in-out;
  z-index: 1000;
}

.sidebar.show {
  transform: translateX(0);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease-in-out;
  z-index: 999;
}
.overlay.show {
  opacity: 1;
  visibility: visible;
}
@media (min-width: 992px) {
  .overlay {
    display: none;
  }
}