<!-- <div 
[class.active]="sidebarService.isOpen()" 
(click)="$event.stopPropagation()"
(keyup.enter)="$event.stopPropagation()"
(keyup.space)="$event.stopPropagation()"
tabindex="-1"
id="sidebar" class="d-flex flex-column p-3 bg-light vh-100 shadow bg-white" style="width: 280px;">
    <div>
        <a (click)="closeSideBar()" [routerLink]="['/' + routes.dashboard.fn()]" class="d-flex align-items-center gap-2 link-dark text-decoration-none">
            <i class="bi bi-signal" style="font-size: 2rem;"></i>
            <div>
                <span class="fs-4 d-block lh-1">Social Grid</span>
                <span class="fw-light lh-1">Workspace</span>
            </div>
        </a>
    </div>
    <hr>

    <ul class="nav nav-pills flex-column mb-auto">
      <li>
        <a (click)="closeSideBar()" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/' + routes.dashboard.fn()]" routerLinkActive="active"  class="nav-link d-flex align-items-center gap-2">
            <i class="bi bi-pie-chart"></i>  
            <span>Dashboard</span>
        </a>
      </li>
      <li>
        <a (click)="closeSideBar()" [routerLink]="['/' + routes.posts.fn()]" routerLinkActive="active"  class="nav-link d-flex align-items-center gap-2">
            <i class="bi bi-postcard"></i>          
            <span>Posts</span>
        </a>
      </li>
      <li>
        <a (click)="closeSideBar()" [routerLink]="['/' + routes.albums.fn()]" routerLinkActive="active" class="nav-link d-flex align-items-center gap-2">
            <i class="bi bi-journal-album"></i> 
            <span>Albums</span>
        </a>
      </li>
      <li>
        <a (click)="closeSideBar()" [routerLink]="['/' + routes.photos.fn()]" routerLinkActive="active" class="nav-link d-flex align-items-center gap-2">
            <i class="bi bi-images"></i>
            <span>Photos</span>
        </a>
      </li>
    </ul>

    <div>
        <hr>
        <a (click)="closeSideBar()" [routerLink]="['/' + routes.singleUser.fn({ id: '123' })]" class="nav-link text-decoration-none gap-2">
          <div class="card p-2">
            <div class=" d-flex align-items-center gap-2 justify-content-center">
              <img src="/assets/images/profile.jpg" alt="Avatar" class="avatar-sm">
              <div>
                <h6 class="mb-1">John Doe</h6>
                <p class="text-muted mb-0">Software Engineer</p>
              </div>
            </div>
          </div>
        </a>
    </div>
  </div> -->

<div class="overlay" 
  [class.show]="isOpen()" 
  (click)="closeOnOverlay()"
  (keyup.enter)="closeOnOverlay()"
  (keyup.space)="closeOnOverlay()"
  tabindex="-1"
  >
</div>
<div class="sidebar d-flex flex-column p-3 bg-light vh-100 shadow bg-white" [class.show]="isOpen()">
  
  <button 
    class="btn btn-primary position-fixed toggle-btn" style="right: -70px; top: 10px; z-index: 100;" 
    type="button" 
    (click)="toggle()"
    >
    <i
      class="fs-4"
      [class]="isOpen() ? 'bi bi-x-lg' : 'bi bi-list'"
      [class.open]="isOpen()"
    ></i>
  </button>
  
  <div>
    <a (click)="closeSideBar()" [routerLink]="['/' + routes.dashboard.fn()]" class="d-flex align-items-center gap-2 link-dark text-decoration-none">
        <i class="bi bi-signal" style="font-size: 2rem;"></i>
        <div>
            <span class="fs-4 d-block lh-1">Social Grid</span>
            <span class="fw-light lh-1">Workspace</span>
        </div>
    </a>
  </div>
  <hr>

  <ul class="nav nav-pills flex-column mb-auto">
    <li>
      <a (click)="closeSideBar()" [routerLinkActiveOptions]="{exact: true}" [routerLink]="['/' + routes.dashboard.fn()]" routerLinkActive="active"  class="nav-link d-flex align-items-center gap-2">
          <i class="bi bi-pie-chart"></i>  
          <span>Dashboard</span>
      </a>
    </li>
    <li>
      <a (click)="closeSideBar()" [routerLink]="['/' + routes.posts.fn()]" routerLinkActive="active"  class="nav-link d-flex align-items-center gap-2">
          <i class="bi bi-postcard"></i>          
          <span>Posts</span>
      </a>
    </li>
    <li>
      <a (click)="closeSideBar()" [routerLink]="['/' + routes.albums.fn()]" routerLinkActive="active" class="nav-link d-flex align-items-center gap-2">
          <i class="bi bi-journal-album"></i> 
          <span>Albums</span>
      </a>
    </li>
    <li>
      <a (click)="closeSideBar()" [routerLink]="['/' + routes.photos.fn()]" routerLinkActive="active" class="nav-link d-flex align-items-center gap-2">
          <i class="bi bi-images"></i>
          <span>Photos</span>
      </a>
    </li>
  </ul>

  <div>
      <hr>
      <a (click)="closeSideBar()" [routerLink]="['/' + routes.singleUser.fn({ id: '123' })]" class="nav-link text-decoration-none gap-2">
        <div class="card p-2">
          <div class=" d-flex align-items-center gap-2 justify-content-center">
            <img src="/assets/images/profile.jpg" alt="Avatar" class="avatar-sm">
            <div>
              <h6 class="mb-1">John Doe</h6>
              <p class="text-muted mb-0">Software Engineer</p>
            </div>
          </div>
        </div>
      </a>
  </div>
</div>