


  <div class="wrapper vh-100" tabindex="-1" (click)="onOutsideClick()" (keyup.enter)="onOutsideClick()" (keyup.space)="onOutsideClick()">
    <div class="d-flex position-relative">
      <!-- Sidebar -->
      <app-sidebar [ngClass]="{'d-none': !sidebarService.isOpen() && isDesktop()}"></app-sidebar>

      <button 
        class="btn btn-primary position-fixed" style="right: 30px; top: 10px; z-index: 100;" 
        type="button" 
        (click)="toggleSidebar($event)"
      >
      <i class="bi bi-list fs-4 fw-bold"></i>
      </button>

      <!-- Page Content -->
      <div class="flex-grow-1 container-fluid p-3 bg-secondary vh-100 overflow-auto pt-5">
        <router-outlet />
      </div>
    </div>
  </div>