<section class="d-flex flex-column gap-3 container-fluid">
    <div class="d-flex w-100 shadow p-4 rounded-3 bg-white">
        <h5 class="fs-3">{{ vm().pageName }}</h5>
    </div>

    <div class="d-flex gap-3 col-12 col-md-6">
        <div class="w-100">
            <app-filter-list />
        </div>
        <div class="w-100">
            <app-sort-list [options]="vm().sort" />
        </div>
    </div>

    <ng-content></ng-content>

    <app-pagination 
        [totalItems]="vm().response().totalItems" 
        [pageNumber]="vm().response().pagination.pageNumber" />
        
</section>
